@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&family=Marcellus&display=swap');
body {
  background-image: url('../img/fondo.png') !important; /* la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px; /* Quita el padding por defecto */
  min-height: 100vh; /* minimo alto ventana */
  font-family: Arial, sans-serif; /* Fuente base */
  font-size: 16px; /* Tamaño de fuente base */
}
.imgdke {
    position: relative;
    left: 48%; top: -2em;
}
.Text1 {
  display: flex; /* Activar caja */
  flex-direction: column; /* los pone en fila */
  margin: 0; /* Quita el margen que ponen los navegadores */
  padding: 0; /* Quita el padding por defecto */
  font-family: Arial, sans-serif; /* Fuente base */
  font-size: 16px; /* Tamaño de fuente base */
  line-height: 1.5; /* Altura de línea para mejor legibilidad */
}
.Text1 h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  position: relative;
  left: 2%;
  color: #fff;
  font-family: "Cossette Titre", sans-serif;
  font-weight: 300;
}
.Text1 h2 {
  font-size: 2rem;
  position: relative;
  left: 2%; top: -3rem;
  color: #fff;
  font-family: "Cossette Titre", sans-serif;
  font-weight: 300;
}
.Text2 {
  position: relative;
  color: #ffffff;
  left: 8%;
  width: 24em;
  height: 14em;
  display: flex; /* Activar caja */
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 20px;
  transform: scale(1.6 );
}
.Text2 input {
  width: 25em;
  height: 1em;
}
#toggle {
  position: relative;
  left: 26em; top: -41px;
  transform: scale(0.8);
}
.Text2 h5 {
  position: relative;
  left: 13em; top: -4rem;
}
/* Botones */
.btn1 {
    width: 147px; /* Ancho boton */
    height: 47px; /* Alto botn */
    background: linear-gradient(135deg,#000000, #d64b00 ); /* Color degradado */
    font-family: "Cossette Titre", sans-serif; /* Tipografia */
    color: #ffffff; /* Color texto */
    border-radius: 7px; /* Borde */
    font-size: 1.2rem; /* Ajsute tamaño boton */
    cursor: pointer; /* Al pasar el mouse */
    border: none; /* Quitamos borde defecto */
    font-weight: bold; /* Grosor */
    transition: all 0.3s ease; /* Efecto */
    display: flex; /* Activar caja */
    justify-content: center; /* Alineamos  elementos */
    align-items: center; /* Centramos elementos */
    position: relative; /* Activar posicion */
    left: 2em; top:-4rem /* Movimiento horizontal */
}
.btn2 {
    width: 147px; /* Ancho boton */
    height: 47px; /* Alto botn */
    background: linear-gradient(135deg,#000000, #d64b00 ); /* Color degradado */
    font-family: "Cossette Titre", sans-serif; /* Tipografia */
    color: #fff; /* Color texto */
    border-radius: 7px; /* Borde */
    font-size: 1.2rem; /* Ajsute tamaño boton */
    cursor: pointer; /* Al pasar el mouse */
    border: none; /* Quitamos borde defecto */
    font-weight: bold; /* Grosor */
    transition: all 0.3s ease; /* Efecto */
    display: flex; /* Activar caja */
    justify-content: center; /* Alineamos  elementos */
    align-items: center; /* Centramos elementos */
    position: relative; /* Activar posicion */
    left: 10em; top:-7rem /* Movimiento horizontal */
}
.btn1:hover {
  background-color: #d65a0c;   /* tono más oscuro al pasar el mouse */
}
.btn1:active  {
  transform: scale(0.9); /* Escala bton */
}
.btn2:hover {
  background-color: #d65a0c;   /* tono más oscuro al pasar el mouse */
}
.btn2:active  {
  transform: scale(0.9); /* Escala bton */
}
.btn3 {
    width: 70px; /* Ancho carrito valor fijo */
    background: linear-gradient(135deg,#FF4F0F, #E67514 ); /* Color de fondo degradado */
    border-radius: 5px; /* Borde */
    font-size: 1.2rem; /* Ajuste tanaño carrito */
    font-weight: bold; /* Grosor */
    border: none; /* Quitamos */
    cursor: pointer; /* Al poner el mouse */
    transition: all 0.3s ease; /* Efecto */
    display: flex; /* Activamos caja */
    justify-content: center; /* Alineamos elementos */
    align-items: center; /* Centramos elementos */
    position: relative; /* Activar posicion */
}
.btn3:hover {
  background-color: #d65a0c;   /* tono más oscuro al pasar el mouse */
}
.btn3:active  {
  transform: scale(0.9); /* Escala bton */
}
.CP {
  position: relative;
  left: 56em;
  top: -24em;
  width: 600px;
  height: 412px;
  background: #E67514;
  border-radius: 20px;
  box-shadow: 0 4px 10px #000000;
  transform: scale(1.5);
}

