@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Karantina:wght@300;400;700&family=Oswald:wght@700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Reem+Kufi&family=Rufina:wght@400;700&family=Story+Script&family=Yrsa:wght@700&display=swap');
body {
  background-image: url('../img/fondo.png'); /* la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px; /* Quita el padding por defecto */
  min-height: 100vh; /* minimo alto ventana */
  font-family: Arial, sans-serif; /* Fuente base */
  font-size: 16px; /* Tamaño de fuente base */
}
.imgdke {
    position: relative;
    left: 47%; top: -2em;
}
header {
  display: flex;                  /* activa flexbox */
  justify-content: space-between; /* espacio entre los elementos */
  align-items: center;            /* centra verticalmente */ 
}
header .imgrock {
  position: relative;
  left: 1%; top: -3em;
  transform: scale(1.7);
}
header h1 {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  left: -15%; top: -1em;
  transform: scale(2.2);
  font-family: "Karantina", system-ui; /* Tipografia */
}
.imgreddbull2 {
  position: relative;
  left: 20em; top: -3em;
}
header .imgcasa {
  filter: invert(100%) brightness(200%);
  position: relative;
  top: -4em;
  transform: scale(0.7);
  transition: all 0.3s ease; /* Efecto */
  cursor: pointer;
}
.imgcasa:active {
  transform: scale(0.9); /* Escala bton */
}
.linea {
  display: flex;
  background-color: #E67514;
  height: 1px;
  position: relative;
  top: -1rem;
}
.Botones1 {
  width: 100%;              /* Que ocupe todo el ancho */
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
}
.Botones1 ul {
  list-style: none;         
  display: flex;            /* Flex para los <li> */
  justify-content: center;  /* Centra el grupo de items */
  align-items: center;      /* Centra verticalmente */
  gap: 2rem;                /* Espaciado entre botones */
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 25px;
  background: linear-gradient(181deg,#000000, #393939 );
}
.Botones1 ul li a {
  display: block;
  padding: 0.5rem 1rem; /* Ajusta con rem, no px fijos */
  font-family: "Karantina", system-ui;
  font-size: 2.3rem;   /* <--- Ajusta aquí el tamaño del texto */
  color: #ffffff;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.Botones1 ul li a:active  {
  transform: scale(0.9); /* Escala bton */
}
.Botones1 ul li a:hover {
  color: #E67514; /* Color texto pasar mouse */
}
.Botones1 ul li a::after {
  content: ""; /* Espacio psudo-elemento para trabajarlo */
  display: block; /* Espacio propio */
  width: 0; /* Ancho inicial: 0 Linea */
  height: 1px; /* Linea que aparece */
  background: #E67514; /* Color linea */
  border-radius: 5px; /* Bordes redondeados */
  transition: width .7s; /* Transición del ancho */
}
/* Esta es la regla clave. El ancho cambia a 100% al pasar el mouse */
.Botones1 ul li a:hover::after {
  width: 100%; /* Ancho */
}
Body h2 {
  position: relative;
  font-family: "Karantina", system-ui;
  width: 10em;
  left: 25em; top: 2em;
  transform: scale(3.2);
  color: #ffffff;
}
.imgbienvenido {
  position: relative;
  left: 41em; top: 6em;
  transform: scale(5.5);
}
.linea2 {
  display: flex;
  background-color: #E67514;
  height: 1px;
  position: relative;
  top: 9rem;
}
Body button {
    width: 140px; /* Ancho carrito valor fijo */
    height: 60px; /* Alto carrito valor fijo */
    background: linear-gradient(135deg,#000000, #393939 ); /* Color de fondo degradado */
    font-family: "Karantina", system-ui; /*Tipografia */
    border-radius: 12px; /* Borde */
    font-size: 1.6rem; /* Ajuste tanaño carrito */
    font-weight: bold; /* Grosor */
    border: none; /* Quitamos */
    cursor: pointer; /* Al poner el mouse */
    transition: all 0.3s ease; /* Efecto */
    display: flex; /* Activamos caja */
    justify-content: center; /* Alineamos elementos */
    align-items: center; /* Centramos elementos */
    position: relative; /* Activar posicion */
    left: 46%; top: 6em; /* Movimiento horizontal */
    color: #ffffff;
}
Body button:hover {
    color: #F37321; /* Las letras cambian a naranja */
}
Body button:active  {
  transform: scale(0.9); /* Activar escala */
}
Body .motorex {
    position: relative; /* Activar posicion */
    left: 3em; top: 7em; /* Movimiento horizontal */
    transform: scale(2.2);
}
Body .motorex1 {
    position: relative; /* Activar posicion */
    left: 82%; top: 16em; /* Movimiento horizontal */
    transform: scale(2.2);
}
.copyright2 {
  position: relative;
  left: 18%; top: 330px;
  transform: scale(0.9);
}
.arkapovich {
    position: relative; /* Activar posicion */
    left: -11%; top: 16em; /* Movimiento horizontal */
    transform: scale(2.2);
}
.arkapovich1 {
    position: relative; /* Activar posicion */
    left: 67%; top: 6em; /* Movimiento horizontal */
    transform: scale(2.2);
}