@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Karantina:wght@300;400;700&family=Oswald:wght@700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Reem+Kufi&family=Rufina:wght@400;700&family=Story+Script&family=Yrsa:wght@700&display=swap');
body {
  background-image: url('../img/fondo.png') !important; /* la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px; /* Quita el padding por defecto */
  min-height: 100vh; /* minimo alto ventana */
  font-weight: 100;
}
.imgdke {
    position: relative;
    left: 40em; top: -6em;
}
.imgatras {
  filter: invert(100%) brightness(200%);
  position: relative;
  top: -67px; left: -216px;
  transform: scale(0.7);
  transition: all 0.3s ease; /* Efecto */
  cursor: pointer;
}
.imgatras:active {
  transform: scale(0.9); /* Escala bton */
}
.imgcasa {
  filter: invert(100%) brightness(200%);
  position: relative;
  top: -52px; left: 1300px;
  transform: scale(0.7);
  transition: all 0.3s ease; /* Efecto */
  cursor: pointer;
}
.imgcasa:active {
  transform: scale(0.9); /* Escala bton */
}
body h1 {
  font-family: "Karantina", system-ui; /* Tipografia */
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
  transform: scale(1.00); /* Escala bton */
  position: relative;
  top: -1em; left: 13em;
  width: 0;
}
table {
  border: 3px solid #000000;
  color: #a38f8f;
  font-family: "Karantina", system-ui; /* Tipografia */
  background-color: #000000d2;
  box-shadow: 0 4px 10px #000000;
  border-collapse: collapse ;
  position: relative;
  top: -2em; left: 5em;
  transform: scale(1.2);
}
td,th {
  padding: 5px 6px;
  border: 3px solid #292929;
}
td {
  font-size: 27px;
  font-weight: 400;
}
.btn {
  background: linear-gradient(15deg,#000000, #ffffff ); /* Color degradado */
  font-family: "Karantina", system-ui; /* Tipografia */
  font-weight: 500;
  color: #060606;
  border: none;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease; /* Efecto */
  box-shadow: 0 4px 10px #000000;
}
.btn:active {
  transform: scale(0.9); /* Escala bton */
  background: #29be00;
  border-radius: 40%;
}
.btn1 {
  background: linear-gradient(15deg,#ff0000, #000000 ); /* Color degradado */
  font-family: "Karantina", system-ui; /* Tipografia */
  font-weight: 700;
  color: #c0bbbbdc;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease; /* Efecto */
  box-shadow: 0 4px 10px #000000;
}
.btn1:active {
  transform: scale(0.9); /* Escala bton */
  background: #29be00;
  border-radius: 40%;
}
.copyright2 {
  position: relative;
  left: 49%; top: 280px;
}
