@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Story+Script&display=swap');
body {
  margin: 0; /* espacio externo  */
  padding: 0; /* espacio interno */
  height: auto; /* La altura se ajusta al contenido */
  width: auto;  /* El ancho se ajusta al contenido */
  min-width: 100vw; /* Mínimo ancho de la pantalla */
  min-height: 100vh; /* Mínimo altura de la pantalla */
  font-family: "PT Serif", serif; /* Tipografía */
  box-shadow: inset 0px -2px 12px 5px rgba(233, 74, 0, 0.8); /* Sombra interna naranja con efecto de resplandor */
  overflow: hidden;
  background-color: #000000 !important;
}
.Caja-principal {
  display: flex; /* Activamos caja */
  justify-content: space-between; /* tipo caja */ 
  align-items: center; /* Alinea los elementos */
  width: 98%; /* Ancho linen adaptado al body */
  height: 100px; /* Alto linea valor fijo */
  position: relative; /* Activamos movimiento */
  left: 1vw; /* Movimiento horizontal */
  top: 2vh; /* Movimiento vertical */
  border-radius: 25px; /* Borde caja */
  background: #EB5B00; /* Color caja */
  box-shadow: inset 0px 2px 23px -1px rgba(0, 0, 0, 0.8); /* Sombra caja */
}
/*-------------------------------------------------------------------------------------------*/
/* Bloque izquierdo */
#bloque-1 {
  display: flex;
  align-items: center;
  background: #000000; /* color bloque */
  position: relative; /* Activar movimiento */
  left: 1%; /*Movimiento horizontal */
  width: 44%;  /* Ancho bloque adaptado a la caja  */
  border-radius: 10px; /* Borde Caja */
}
.img {
  width: 40px; /* Ancho imagen valor fijo */
  height: 40px; /* Alto Imagen valor fijo */
  transform: scale(1.7); /* Escala imagen */
  position: relative; /* Activar Movimiento */ 
  left: 20px; /* Movimiento horizontal */
  top: 12px; /* Movimiento vertical */
}
.linea {
  width: 1px; /* Ancho linea */
  height: 60px;/* Alto linea */
  position: relative; /* Activar movimiento */ 
  left: 0%; /* Movimiento horizontal */
  top: 2px; /* Movimiento Vertical */
  background: rgb(236, 236, 236); /* Color linea */
}
.texto1 {
  color: #fff; /* Color texto */
  font-family: "Story Script", sans-serif; /* Tipografia */
  transform: skew(20deg) scale(1.0); /* Inclinacion y escala */
  position: relative;
  left: 4%;
}
.buscador {
  display:block; /* Activar Caja */
  border-radius: 10px; /* Borde Buscador */
  border:none; /* desactivar borde */
  width: 41%; /*  Ancho Buscador */
  height: 28px; /* Alto buscador */ 
  position: relative; /* Activar movimiento */
  left: 9%; /* Movimiento horizontal */
  top: -278%; /* Movimiento vertical */
}
.lupa {
  position: relative; /* Activar movimiento */
  filter: grayscale(680%); /* Color */
  left: 5%; /* Movimiento horizontal */
  top: -312%; /* Movimiento Vertical */
  height: 27%; /* Alto Lupa */
  width:3%; /* Ancho Lupa */
}
/*--------------------------------------------------------------------------------------------------*/
.img1 {
  width: auto;
  height: auto;
  max-width: 13%; /* La imagen no superará el ancho de su contenedor */
  position: relative; /* Activar movimiento */
  left: -43%; /*Movimiento horizontal */
  top: -5%; /* Movimiento vertical */
}
/*-------------------------------------------------------------------------------------------------------------*/
/* Bloque derecho */
#bloque-2 {
  display: flex;
  justify-content:space-around;
  align-items: center;
  background: #000000; /* color bloque */
  position: relative; /* Activar movimiento */
  left: 12%; /*Movimiento horizontal */
  top: 0%; /* Movimiento vertical */
  height: 76%; /* Alto bloque Adaptado a la caja */
  width: 43%;  /* Ancho bloque adaptado a la caja  */
  border-radius: 10px; /* Borde Caja */
}
/*----------------------------------------------------------------------------------------------------------------------------*/
 .Boton-carrito {
    width: 75px;
    height: 50px;
    background-color: #222222;
    border: 2px solid #555555;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0%;
}
.Boton-carrito img {
    width: 55px;
    height: 55px;
    filter: invert(1) grayscale(100%) brightness(150%);
    transition: filter 0.3s ease;
}
.Boton-carrito:hover {
    background-color: #333333;
}

.Boton-carrito:hover img {
    filter: invert(0) grayscale(0) brightness(1) sepia(0);
}

.Boton-carrito:hover::before {
    border-color: #F37321;
    box-shadow: 0 0 10px rgba(243, 115, 33, 0.7);
}
.Boton-iniciar {
    width: 110px;
    height: 55px;
    background-color: #222222;
    border: 2px solid #555555;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25%;
}
.Boton-iniciar img {
    width: 110px;
    height: 90px;
    filter: invert(1) grayscale(100%) brightness(150%);
    transition: filter 0.3s ease;
}
.Boton-iniciar:hover {
    background-color: #333333;
}

.Boton-iniciar:hover img {
    filter: invert(0) grayscale(0) brightness(1) sepia(0);
}

.Boton-iniciar:hover::before {
    border-color: #F37321;
    box-shadow: 0 0 10px rgba(243, 115, 33, 0.7);
}
.Boton-crearcuenta {
    width: 100px;
    height: 55px;
    background-color: #222222;
    border: 2px solid #555555;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 8%;
}
.Boton-crearcuenta img {
    width: 90px;
    height: 110px;
    filter: invert(1) grayscale(100%) brightness(150%);
    transition: filter 0.3s ease;
    position: relative;
    top: 5%;
}
.Boton-crearcuenta:hover {
    background-color: #333333;
}
.Boton-crearcuenta:hover img {
    filter: invert(0) grayscale(0) brightness(1) sepia(0);
}
.Boton-crearcuenta:hover::before {
    border-color: #F37321;
    box-shadow: 0 0 10px rgba(243, 115, 33, 0.7);
}
.Caja-logo-movimiento {
    width: 98%;
    background: #000000;
    box-shadow: inset 0px 2px 23px -1px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    top: 90px;
    left: 17px;
}
.img-movimiento {
    max-width: 52px;
    animation: movimiento-continuo 22s infinite linear;
}
/* La animación que mueve la imagen de un lado a otro y reaparece */
@keyframes movimiento-continu {
    0% {
        transform: translateX(-1500px); /* Comienza fuera de la pantalla por la izquierda */
    }
    100% {
        transform: translateX(1500px); /* Termina fuera de la pantalla por la derecha */
    }
}
