@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Karantina:wght@300;400;700&family=Oswald:wght@700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Reem+Kufi&family=Rufina:wght@400;700&family=Story+Script&family=Yrsa:wght@700&display=swap');
body {
    background-image: url('../img/fondo1.png'); /* la imagen de fondo */
    background-size: auto;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0; /* Elimina el margen por defecto del body */
    padding: 0; /* Elimina el relleno por defecto */
    font-family: "PT Serif", serif; /* Tipografia */
    background-repeat: no-repeat; /* no se repita la imagen */
    background-size: cover; /* ajusta la imagen con la pantalla */
    background-position: center; /* centra la imagen */
}
.Caja-principal {
    display: flex; /* Activamos caja */
    justify-content: space-between; /* tipo caja */ 
    align-items: center; /* Alinea los elementos */
    width: 100%; /* Ancho linen adaptado al body */
    height: 6rem; /* Alto linea raiz html */
    background: #E67514; /* Color caja */
    box-shadow: inset 1px 0px 0px 3px rgba(0, 0, 0, 0.8); /* Sombra caja */
} 
.imgdke {
    position: relative;
    left: 48%;
}
/*-------------------------------------------------------------------------------------------*/
/* Bloque izquierdo */
#bloque-1 {
  display: flex;  /* Activamos caja */
  align-items: center; /* Alinea los elementos */
  background: #000000; /* color bloque */
  position: relative; /* Activar movimiento */
  left: -7%; /*Movimiento horizontal */
  width: 44%;  /* Ancho bloque adaptado a la caja  */
  height: 72px; /* Alto linea valor fijo */
  border-radius: 10px; /* Borde Caja */
}
.img {
  width: 40px; /* Ancho imagen valor fijo */
  height: 40px; /* Alto Imagen valor fijo */
  transform: scale(1.7); /* Escala imagen */
  position: relative; /* Activar Movimiento */ 
  left: 20px; /* Movimiento horizontal */
  top: 12px; /* Movimiento vertical */
}
.linea {
  width: 1px; /* Ancho linea */
  height: 63px;/* Alto linea */
  position: relative; /* Activar movimiento */ 
  left: 0%; /* Movimiento horizontal */
  top: 5px; /* Movimiento Vertical */
  background: rgb(236, 236, 236); /* Color linea */
}
.texto1 {
  color: #ffffff; /* Color texto */
  font-family: "Karantina", system-ui; /* Tipografia */
  transform: scale(1.2); /* Inclinacion y escala */
  position: relative; /* Activar movimiento */
  left: 5%; /* Movimiento horizontal */
}
.buscador {
  display:block; /* Activar Caja */
  border-radius: 11px 0px 17px 8px; /* Borde Buscador */
  border:0; /* desactivar borde */
  width: 41%; /*  Ancho Buscador */
  height: 28px; /* Alto buscador */ 
  position: relative; /* Activar movimiento */
  left: 12%; /* Movimiento horizontal */
}
.lupa {
  position: relative; /* Activar movimiento */
  filter: grayscale(680%); /* Color */
  left: 3%; /* Movimiento horizontal */
  height: 26%; /* Alto Lupa */
  width: 4%; /* Ancho Lupa */
}
/*--------------------------------------------------------------------------------------------------*/
.img1 {
  max-width: 12%; /* Tama침o relativo */
  height: auto; /* Mantiene proporci칩n */
  display: block; /* Activar caja */
  margin: 0 auto; /* Centrado horizontal */
  position: relative; /* Activar mvimiento */
}
/*-------------------------------------------------------------------------------------------------------------*/
/* Bloque derecho */
#bloque-2 {
  display: flex; /* Activar caja */
  justify-content:space-around; /* Espacio estre elementos */
  align-items: center; /* Alineamos elementos */
  background: #000000; /* color bloque */
  position: relative; /* Activar movimiento */
  left: -1%; /*Movimiento horizontal */
  top: 0%; /* Movimiento vertical */
  height: 4rem; /* Alto bloque Adaptado a la caja */
  width: 43%;  /* Ancho bloque adaptado a la caja  */
  border-radius: 10px; /* Borde Caja */
}
/*----------------------------------------------------------------------------------------------------------------------------*/
 .Boton-carrito {
    width: 50px; /* Ancho carrito valor fijo */
    height: 50px; /* Alto carrito valor fijo */
    background: linear-gradient(135deg,#000000, #393939 ); /* Color de fondo degradado */
    border-radius: 25px; /* Borde */
    font-size: 1.2rem; /* Ajuste tana침o carrito */
    font-weight: bold; /* Grosor */
    border: none; /* Quitamos */
    cursor: pointer; /* Al poner el mouse */
    transition: all 0.3s ease; /* Efecto */
    display: flex; /* Activamos caja */
    justify-content: center; /* Alineamos elementos */
    align-items: center; /* Centramos elementos */
    position: relative; /* Activar posicion */
    left: -2%; /* Movimiento horizontal */
}
.Boton-carrito img {
    width: 40px; /* Ancho imagen carrito */
    height: 40px; /* Alto imagen carrito */
    filter: invert(1) grayscale(100%) brightness(150%); /* Color aplicado imagen carrito */
    transition: filter 0.3s ease; /* Efecto */
}
.Boton-carrito:hover img {
    filter: invert(0) grayscale(0) brightness(1) sepia(0); /* Efecto al pasar el mouse */
}
.Boton-carrito:active {
  transform: scale(0.9); /* Efecto de escala */
}
/*------------------------------------------------------------------------------------------------------------------------------*/
.Boton-iniciar  {
    width: 147px; /* Ancho boton */
    height: 47px; /* Alto boton */
    background: linear-gradient(15deg,#000000, #393939 ); /* Color degradado */
    font-family: "Karantina", system-ui; /*Tipografia */
    transform: skew(-7deg); /* Inclinacion */
    color: #fff; /* Color texto */
    border-radius: 25px; /* Borde boton */
    font-size: 1.2rem; /* Ajsute tama침o boton */
    cursor: pointer; /* Al poner el mouse */
    border: none; /* Quitamos borde defecto */
    font-weight: bold; /* Grosor */
    transition: all 0.3s ease; /* Efecto */
    display: flex; /* Activar caja */
    justify-content: center; /* Alineamos boton */
    align-items: center; /* Alineamos elementos */
    position: relative; /* Activar posicion */
    left: 19%; /* Movimiento horizontal */
}
.Boton-iniciar:hover {
    color: #F37321; /* Las letras cambian a naranja */
}
.Boton-iniciar:active  {
  transform: scale(0.9); /* Activar escala */
}
/*------------------------------------------------------------------------------------------------------------*/
.Boton-crearcuenta  {
    width: 147px; /* Ancho boton */
    height: 47px; /* Alto botn */
    background: linear-gradient(135deg,#000000, #393939 ); /* Color degradado */
    font-family: "Karantina", system-ui; /* Tipografia */
    transform: skew(-7deg); /* Inclinacion */
    color: #fff; /* Color texto */
    border-radius: 25px; /* Borde */
    font-size: 1.2rem; /* Ajsute tama침o boton */
    cursor: pointer; /* Al pasar el mouse */
    border: none; /* Quitamos borde defecto */
    font-weight: bold; /* Grosor */
    transition: all 0.3s ease; /* Efecto */
    display: flex; /* Activar caja */
    justify-content: center; /* Alineamos  elementos */
    align-items: center; /* Centramos elementos */
    position: relative; /* Activar posicion */
    left: 6%; /* Movimiento horizontal */
}
.Boton-crearcuenta:hover {
    color: #F37321; /* Las letras cambian a naranja */
}
.Boton-crearcuenta:active  {
  transform: scale(0.9); /* Escala bton */
}
.Caja-logo-movimiento {
    width: 98%; /* Ancho caja moviemto */
    background: #00000000; /* Color fondo movimeto */
    box-shadow: 0px 7px 23px -1px rgba(0, 0, 0, 0.8);
    display: flex; /* Activamos caja */
    justify-content: center; /* Alineamos elementos */
    align-items: center; /* Centramos elementos */
    overflow: hidden; /* Scrool caja */
    position: relative; /* Activamos posicion */
    top: 8px; /* Moivimiento vertical */
    left: 17px; /*Movimiento horizontal */
}
.img-movimiento {
    max-width: 52px; /* Ajsute maximo ancho */
    animation: movimiento-continuo 22s infinite linear; /* Movimiento de las imagenes */
}
/* La animaci칩n que mueve la imagen de un lado a otro y reaparece */
@keyframes movimiento-continuo {
    0% {
        transform: translateX(-1800px); /* Comienza fuera de la pantalla por la izquierda */
    }
    100% {
        transform: translateX(1500px); /* Termina fuera de la pantalla por la derecha */
    }
  }
.menu {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;              /* Que ocupe todo el ancho */
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
}
.menu ul {
  list-style: none;         
  display: flex;            /* Flex para los <li> */
  justify-content: center;  /* Centra el grupo de items */
  align-items: center;      /* Centra verticalmente */
  gap: 2rem;                /* Espaciado entre botones */
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 25px;
  background: linear-gradient(181deg,#F14A00, #000000 );
}
.menu ul li a {
  display: block;
  padding: 0.5rem 1rem; /* Ajusta con rem, no px fijos */
  font-family: "Karantina", system-ui;
  font-size: 2.3rem;   /* <--- Ajusta aqu칤 el tama침o del texto */
  color: #ffffff;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu ul li a:active  {
  transform: scale(0.9); /* Escala bton */
}
.menu ul li a:hover {
  color: #E67514; /* Color texto pasar mouse */
}
.menu ul li a::after {
  content: ""; /* Espacio psudo-elemento para trabajarlo */
  display: block; /* Espacio propio */
  width: 0; /* Ancho inicial: 0 Linea */
  height: 1px; /* Linea que aparece */
  background: #E67514; /* Color linea */
  border-radius: 5px; /* Bordes redondeados */
  transition: width .7s; /* Transici칩n del ancho */
}
/* Esta es la regla clave. El ancho cambia a 100% al pasar el mouse */
.menu ul li a:hover::after {
  width: 100%; /* Ancho */
}
.sesion-1 {
  display: flex; /* Activamos caja */
  justify-content:flex-start; /* Ayuda a ubicar los elementos */
  background: linear-gradient(181deg,#000000, #39393900 ); /* Degradaddo */
  border-radius: 20px; /* Borde fondo video */
  padding: 5rem 5rem; /* Espacio externo e interno */
  height: 25rem; /* Alto fondo */
  width: 50rem; /* Ancho fondo */
  position: relative; /* Actiavr posicion */
  left: 7rem; /* Movimineto horizontal fondo */
  top: 4rem; /* Movimiento vertical fondo */
}
.imgbujia {
  height: 9rem; /* Ancho bujia */
  width: 6rem; /* Alto bujia */
  position: relative; /* Activar pposicion */
  left: -9rem;
  top: -3rem;
}
#s1 {
  border-radius: 20px; /* Borde video */
  transform: scale(1.2); /* Escala video */
  position: relative; /* Activar posicion */
  left: -5rem; /* Movimiento horizontal **/
}
.p1 {
  background: linear-gradient(181deg,#000000, #393939 ); /* Degradado */
  font-family: "Karantina", system-ui;  
  color: #ffffff; /* Color texto */
  border-radius: 20px; /* Borde fondo */
  font-size: 45px; /* Tama침o fuente */
  position: relative; /* Activar 췂posicion */
  left: -6rem; /* Activar movimiento horizontal */
  top: -2rem;
  height: 22rem; /* Ancho fondo texto */
  width: 28rem; /* Alto fondo texto */
  padding: 12px 20px; /* Espacio interno y esxterno fondo */
}
.imgpistomm {
  height: 9rem;
  width: 6rem;
  position: relative;
  left: -2rem;
  top: 9rem;
}
.sesion-2 {
  display: flex; /* Activamos caja */
  justify-content:flex-start; /* Ayuda a ubicar los elementos */
  background: linear-gradient(181deg,#00000000, #000000 ); /* Degradaddo */
  border-radius: 20px; /* Borde fondo video */
  padding: 2rem; /* Espacio externo e interno */
  height: 26rem; /* Alto fondo */
  width: 45%; /* Ancho fondo */
  position: relative; /* Actiavr posicion */
  left: 51%; top: -4rem; /* Movimineto horizontal fondo */
}
.imgracing {
  height: 3em;
  width: 5em;
}
#s2 {
  border-radius: 20px; /* Borde video */
  transform: scale(1.2); /* Escala video */
  position: relative;
  left: -4rem; top: 1rem;
}
.p2 {
  background: linear-gradient(181deg,#000000, #393939 ); /* Degradado */
  font-family: "Karantina", system-ui; 
  color: #ffffff; /* Color texto */
  border-radius: 20px; /* Borde fondo */
  font-size: 50px; /* Tama침o fuente */
  position: relative; /* Activar 췂posicion */
  height: 20rem; /* Ancho fondo texto */
  padding: 12px 20px; /* Espacio interno y esxterno fondo */
}
footer {
  display: flex; /* Activamos caja */
  justify-content:space-between;
  align-items: center; /* Alinea los elementos */
  width: 100%; /* Ancho linen adaptado al body */
  height: 5rem; /* Alto linea raiz html */
  position: relative; /* Activamos movimiento */
  left: 0%; /* Movimiento horizontal adapatado contenedor padre */
  top: 472%; /* Movimiento vertical valor fijo */
  background: #E67514; /* Color caja */
  box-shadow: inset 1px 0px 0px 3px rgba(0, 0, 0, 0.8); /* Sombra caja */
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif';
}
.col {
  display: flex;
  flex-direction: column; /* texto en columna */
  align-items: center;
  color: #ffffff;
}
.C {
  width: 2rem;
  position: relative;
  left: 17%; top: -23%;
}
.T1 {
  position: relative;
  top: 22px;
  color: #ffffff;
}
.iconos {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre 칤conos */
  position: relative;
  top: -1rem;
  filter: brightness(0) invert(1); /* los pone blancos sobre negro */
}
.iconos img {
  width: 30px; /* 游녣 tama침o m치s peque침o */
  height: auto; /* mantiene proporci칩n */
  cursor: pointer; /* cambia el cursor al pasar */
  transition: transform 0.2s;
}
.iconos img:hover {
  transform: scale(1.2); /* efecto de agrandado al pasar */
}
.imgmotocast {
  position: relative;
  left: 69%; top: -22em;
}
.imgmestrella {
  position: relative;
  top: 20em;
  transform: rotate(54deg) scale(2.9);
}
.imgmrefbulktm {
  position: relative;
  left: 27%; top: 25em;
  transform: scale(1.7);
}
.imgtanquemotoktm {
  position: relative;
  border-radius: 10px;
  left: 49em; top: -18em;
  transform: scale(1.9);
}
.redbull1 {
  position: relative;
  border-radius: 10px;
  left: -25px; top: -1px;
  transform: scale(1.0);
}
.imgreadttorace {
  position: relative;
  border-radius: 10px;
  left: 32%; top: -7em;
  transform: scale(2.9);
}
.imgduke1 {
  position: relative;
  border-radius: 10px;
  left: 15%; top: 10em;
  transform: scale(2.9);
}
.imgcaramelo {
  position: relative;
  border-radius: 10px;
  left: -7%; top: 6em;
  transform: scale(3.9);
}