body {
  background-image: url('../img/fondo.png') !important; /* la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px; /* Quita el padding por defecto */
  min-height: 100vh; /* minimo alto ventana */
  font-family: Arial, sans-serif; /* Fuente base */
  font-size: 16px; /* Tamaño de fuente base */
}
.imgdke {
    position: relative;
    left: 48%; top: -6em;
}
body .rock {
    position: relative;
    left: -4%; top: 3em;
    transform: scale(2.5);
}
body .moto1 {
    filter: invert(100%) brightness(200%);
    position: relative;
    left: -1%; top: 0em;
    transform: scale(0.7);
}
.moto1:active {
  transform: scale(0.9); /* Escala bton */
}
body .ojo {
    filter: invert(100%) brightness(200%);
    position: relative;
    left: -106px; top: 3em;
    transform: scale(0.7);
}
.ojo:active {
  transform: scale(0.9); /* Escala bton */
}
body .filtro1 {
    filter: invert(100%) brightness(200%);
    position: relative;
    left: -14%; top: 7em;
    transform: scale(0.7);
}
.filtro1:active {
  transform: scale(0.9); /* Escala bton */
}
body .informeT {
    filter: invert(100%) brightness(200%);
    position: relative;
    left: -294px; top: 11em;
    transform: scale(0.7);
}
.informeT:active {
  transform: scale(0.9); /* Escala bton */
}
.Botones {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 26%;
  position: relative;
  left: 19%; top: -58px;
}
.Botones button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #E67514;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.934);
  box-shadow: 0 4px 10px #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}
.Botones button:active  {
  transform: scale(0.9); /* Escala bton */
}
.Botones button:hover {
  color: #000000; /* Color texto pasar mouse */
}
.NO {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #ffffff;
  font-family: "Karantina", system-ui; /*Tipografia */
  width: 30%;
  height: 50px;
  box-shadow: 0 4px 10px #000000;
  position: relative;
  left: 63%; top: -16em;
}
.formulario {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #E67514;
  width: 30%;
  height: 15em;
  box-shadow: 0 4px 10px #000000;
  position: relative;
  left: 63%; top: -15rem;
}
.formulario2 {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #E67514;
  width: 30%;
  height: 15em;
  box-shadow: 0 4px 10px #000000;
  position: relative;
  left: 63%; top: -4em;
}
.NI {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #ffffff;
  font-family: "Karantina", system-ui; /*Tipografia */
  width: 30%;
  height: 50px;
  box-shadow: 0 4px 10px #000000;
  position: relative;
  left: 63%; top: -23em;
}