body {
  background-image: url('../img/fondo.png') !important; /* la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px; /* Quita el padding por defecto */
  min-height: 100vh; /* minimo alto ventana */
  font-family: Arial, sans-serif; /* Fuente base */
  font-size: 16px; /* Tamaño de fuente base */
}
.imgdke {
    position: relative;
    left: 48%; top: -6em;
}
body .rock {
  position: relative;
  left: 37em; top: 6em;
  transform: scale(2.2);
} 
.fondo {
  background: rgba(0, 0, 0, 0.7);
  padding: 25px;
  border-radius: 10px;
  color: #E67514;
  width: 30%;
  height: 14em;
  box-shadow: 0 4px 10px #000000;
  position: relative;
  left: 31em; top: 10em;
  display: grid;
  align-content: center;
  align-items: stretch;
  justify-items: center;
} 
.fondo button {
  width: 77%;
  padding: 10px;
  background: linear-gradient(15deg,#000000, #393939 ); /* Color degradado */
  font-family: "Karantina", system-ui; /*Tipografia */
  font-weight: 700;
  color: #ffffff9d;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease; /* Efecto */
}
.fondo button:active {
  transform: scale(0.9); /* Escala bton */
  background: #000000;
}
.imgcasa {
  filter: invert(100%) brightness(200%);
  position: relative;
  top: -26em; left: 86em;
  transform: scale(0.7);
  transition: all 0.3s ease; /* Efecto */
  cursor: pointer;
}
.imgcasa:active {
  transform: scale(0.9); /* Escala bton */
}