@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87,300..900;1,18..144,87,300..900&family=Roboto+Slab:wght@100..900&display=swap');
body {
  background-image: url('../img/fondo.png') !important; /* la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px; /* Quita el padding por defecto */
  min-height: 100vh; /* minimo alto ventana */
  font-family: Arial, sans-serif; /* Fuente base */
  font-size: 16px; /* Tamaño de fuente base */
}
.imgdke {
    position: relative;
    left: 48%; top: -6em;
}
.copyright2 {
  position: relative;
  left: 42%; top: 57rem;
}
.imgcasa {
  filter: invert(100%) brightness(200%);
  position: relative;
  top: -2em; left: 99em;
  transform: scale(0.7);
  transition: all 0.3s ease; /* Efecto */
  cursor: pointer;
}
.imgcasa:active {
  transform: scale(0.9); /* Escala bton */
}
.imgatras {
  filter: invert(100%) brightness(200%);
  position: relative;
  top: -4em; left: -18em;
  transform: scale(0.7);
  transition: all 0.3s ease; /* Efecto */
  cursor: pointer;
}
.imgatras:active {
  transform: scale(0.9); /* Escala bton */
}
.blo {
  display: flex;
  gap: 90px;
  padding: 14px 20px;
  width: 0px;
  border-radius: 10px;
  position: relative;
  left: 16%; top: 0rem;
  transform: scale(1.2);
  font-family: "Roboto Slab", serif;
}
.blo .B1 {
  padding: 14px 20px;
  background: #E67514;
  border-radius: 10px;
  box-shadow: 0 4px 10px #000000;
}
.blo .B2 {
  padding: 14px 20px;
  background: #E67514;
  border-radius: 10px;
  box-shadow: 0 4px 10px #000000;
}
.blo .B3 {
  padding: 14px 20px;
  background: #E67514;
  border-radius: 10px;
  box-shadow: 0 4px 10px #000000;
}
.blo h1 {
  border-radius: 20px;
  padding: 10px 10px;
  text-align: center;   /* centra el texto */
  background: #000000a9;
  color: aliceblue;
  transform: scale(0.8);
  transition: all 0.3s ease; /* Efecto */
  cursor: pointer;
  white-space: pre-line; /* respeta saltos de línea */
  text-decoration: none;
}
.blo h1:active {
  transform: scale(0.9); /* Escala bton */
  background: #000000;
}
.blo h2 {
  text-align: center;   /* centra el texto */
  transform: scale(0.9);
  white-space: pre-line; /* respeta saltos de línea */
}
