body {
  background-image: url('../img/fondo.png') !important; /* la imagen de fondo */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px; /* Quita el padding por defecto */
  min-height: 100vh; /* minimo alto ventana */
  font-family: Arial, sans-serif; /* Fuente base */
  font-size: 16px; /* Tamaño de fuente base */
}
.imgdke {
    position: relative;
    left: 48%; top: -2em;
}
.formulario {
  background: rgba(0, 0, 0, 0.7);
  padding: 25px;
  border-radius: 10px;
  color: #E67514;
  width: 32%;
  height: 30rem;;
  box-shadow: 0 4px 10px #000000;
  position:relative;
  left: 37em; top: 5em;

}
.formulario h1 {
  text-align: center;
  margin-bottom: 41px;
  transform: scale(1.2);
}
.formulario h2 {
  text-align: center;
  margin-bottom: 41px;
  transform: scale(0.8);
  margin-top: -35px;
}
.FF {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 3rem;
  padding-left: 4%;
}
label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
.contraseña {
  display: flex;
  align-items: center;
  width: 57%;
  gap: 6px;
}
.contraseña .help {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  font-weight: bold;
  cursor: pointer;
}
.FF button {
  width: 70%;
  padding: 10px;
  background: linear-gradient(135deg,#000000, #393939 ); /* Color de fondo degradado */
  color: #ffffff;
  cursor: pointer; /* Al poner el mouse */
  transition: all 0.3s ease; /* Efecto */
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  left: 4rem;top: 0rem;
}
.FF button:active {
  transform: scale(0.9); /* Efecto de escala */
}
.FF button:hover{
  color: #E67514;
}
.copyright2 {
  position: relative;
  left: 48%; top: 25rem;
}

