body {
  margin: 0;          /* elimina márgenes por defecto */
  padding: 0;         /* elimina relleno por defecto */
  width: 100%;        /* ocupa todo el ancho */
  min-height: 100vh; 
}
.linea-principal { 
  display:flex; /*Activar bloques */
  align-items: center; /* alinea todos los elementos del bloque*/
  justify-content: space-between; /* tipo de bloque */
  height: 90px; /*vertical ancho encabezado bloque*/
  border-radius:25px; /* bordes de esquinas */
  width: 1850px; /* horizontal ancho imagen */
  position: relative; /*Activar movimiento imagen */
  top: 22px; /* ajuste movimiento vertical imagen */
  left: 21px; /* ajuste movimiento horizontal imagen */
  background:#c62400;/* color caja*/
  box-shadow:inset 0px 2px 12px 9px rgba(0, 0, 0, 0.8);/* sombra de caja*/
}
.img1 {
  width: 40px; /* horizontal ancho imagen */
  transform: scale(4.9);
  position: relative; /*Activar movimiento imagen */
  left: -919px; /* ajuste movimiento horizontal imagen */
  top: -3px; /* ajuste movimiento vertical imagen */
}
/* BLOQUE IZQUIERDO */
  #bloque-1 {
  background-color: #000000;/* color bloque*/
  border-radius:10px ; /* bordes de esquinas */
  position: relative; /*Activar movimiento imagen */
  width: 695px; /* horizontal ancho imagen */
  height: 61px; /* vertical ancho imagen*/
  left: 20px; /* ajuste movimiento horizontal imagen */
  top: 0px; /* ajuste movimiento vertical imagen */
}
.img {
  width: 40px; /* horizontal ancho imagen */
  height: 45px; /* vertical ancho imagen*/
  position: relative; /*Activar movimiento imagen */
  left: 9px; /* ajuste movimiento horizontal imagen */
  top: 6px; /* ajuste movimiento vertical imagen */
}
.linea {
  width: 1px; /* horizontal ancho linea */
  height: 40px; /* vertical ancho linea */
  background: rgb(236, 236, 236); /* color linea*/
  position: relative; /*Activar movimiento linea */
  left: 51px; /* ajuste movimiento horizontal linea  */
  border-radius:10px ; /* bordes de esquinas */
  top: -60px; /* ajuste movimiento vertical linea */
}
.texto1 {
  font-size: 18px; /*tamaño de la letra*/
  color: #ffffff;
  font-family:"Story Script", sans-serif; /* tipo de letra*/
  position:relative; /*Activar movimiento texto */
  left: 340px; /* ajuste movimiento horizontal texto */
  height: 13px; /*Vertical ancho texto */
  transform:skew(20deg) scale(1.8); /*inclinacion y escala del texto */
  top: -116px; /* ajuste movimiento vertical texto */
}
.buscador::placeholder {
  color:rgb(109, 109, 109);/* color del buscar */
}
.buscador {
  position: relative;/* Activar movimiento buscador */
  font-family: "PT Serif", serif;
  left: 301px; /* ajuste movimiento horizontal buscador */
  width: 332px; /* horizontal ancho buscador */
  border-radius:10px ; /* bordes de esquinas buscador */
  transform:scale(1.2); /* escala del texto */
  top: -141px; /* ajuste movimiento vertical buscador */
}
.lupa {
  position: relative; /* Activar movimiento lupa */
  filter: grayscale(100%);
  left: 299px; /* ajuste movimiento horizontol lupa */
  height: 22px; /* vertical ancho lupa */
  top: -135px; /* ajuste movimiento vertical lupa */
}
/* BLOQUE DERECHO */ 
#bloque-2 {
  width: 695px; /* horizontal ancho imagen */
  height: 67px; /* vertical ancho imagen */
  background-color: #000000;/* color bloque */
  border-radius:10px ; /* bordes de esquinas */
  position: relative; /* Activar movimiento imagen */
  left: 230px; /* ajuste movimiento horizontal imagen */
  top: 0px; /* ajuste movimiento vertical imagen */
}
.Boton-carrito {
  background:#000000; /* color boton */
  border-radius: 100px; /* borde boton */
  transform: scale(0.1) translate(-5530px, -1150px);/* Movimiento del boton */
  width: 1270px;/* horizontal ancho boton carrito */
  height: 297px;
  border: 30px double rgb(0, 0, 0); 
  box-shadow: -20px -7px 0px 12px #ffffff;
}
.Boton-carrito img {
  filter: grayscale(100%) brightness(210%);
  width: 122px;  /* cambias el tamaño de la imagen */
  transform: scale(2.4) translate(175px, 23px);/* Movimiento de la imagen */
}
.Boton-carrito:hover {
  background: black;/* fondo negro */
  box-shadow: 0 20px 30px #ffffff; /* sombra naranja */
  cursor: pointer;/* mano cursor */
}
.texto2 {
  color: #ffffff;/* color texto */
  font-size: 135px; /*tamaño de la letra*/
  font-weight: 10;/* grosor letra */
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* tipo de letra*/
  transform: scale(1.4) translate(-130px, -173px); /*escala del texto */
}
.Boton-iniciar  {
  background-color:#000000;
  filter: grayscale(100%) brightness(210%);
  border-radius: 100px; /* borde boton */
  transform: scale(0.1) translate(25px, -6535px);/* Movimiento del boton */
  width: 980px;/* horizontal ancho boton carrito */
  height: 510px;
  border: 30px double rgb(0, 0, 0); 
  box-shadow: -20px -7px 0px 12px #ffffff;
}
.Boton-iniciar img {
  width: 122px;  /* cambias el tamaño de la imagen */
  transform: scale(7.4) translate(-1px, -1px);/* Movimiento de la imagen */
  
}
.Boton-iniciar:hover {
  background: black;/* fondo negro */
  box-shadow: 0 20px 30px #f7f7f7; /* sombra naranja */
  cursor: pointer;/* mano cursor */
}
.Boton-crearcuenta {
  background-color:#000000;
  filter: grayscale(100%) brightness(210%);
  border-radius: 100px; /* borde boton */
  transform: scale(0.1) translate(1333px, -11636px);/* Movimiento del boton */
  width: 980px;/* horizontal ancho boton carrito */
  height: 510px;
  border: 30px double rgb(0, 0, 0); 
  box-shadow: -20px -7px 0px 12px #ffffff;
}
.Boton-crearcuenta img {
  width: 122px;  /* cambias el tamaño de la imagen */
  transform: scale(7.4) translate(-1px, -1px);/* Movimiento de la imagen */
}
.Boton-crearcuenta:hover {
  background: black;/* fondo negro */
  box-shadow: 0 20px 30px #f7f7f7; /* sombra naranja */
  cursor: pointer;/* mano cursor */
}
#contenido {
  transform: scale(1.2);
  width: 695px; /* horizontal ancho imagen */
  height: 67px; /* vertical ancho imagen */
  background-color: #c62400;/* color bloque */
  border-radius:10px ; /* bordes de esquinas */
  position: relative; /* Activar movimiento imagen */
  left: 595px; /* ajuste movimiento horizontal imagen */
  top: 83px; /* ajuste movimiento vertical imagen */
  box-shadow:inset 0px -2px 12px 5px rgba(0, 0, 0, 0.8);/* sombra de caja*/
}
.Mantenimiento {
  background:#000000; /* color boton */
  border-radius: 100px; /* borde boton */
  transform: scale(-0.1) translate(3445px, 1165px);/* Movimiento del boton */
  width: 1270px;/* horizontal ancho boton carrito */
  height: 297px;
  border: 30px double rgb(0, 0, 0); 
  box-shadow: inset 0px 1px 0px 12px #ffffff;
  position: relative;
  left: -206px;
}


